body{
  margin:0px;
  padding:0px;
}

@media screen and (max-width: 720px){
    .rotatingdiv {
      width: 17rem !important;
  margin-left: 13% !important;
  height: 40vh !important;
  display: block;
  margin-top: 2rem; 
    }
    .odlucisediv{ height: 28rem !important;}    
.bodyimg{
  height:180vh !important;
   
}
.navlogo{ width: 16rem !important;}
.selldiv{ margin:0% !important;}
.imgkdiv{
  display: inherit !important;
  height: 100vh !important;
}
.korisnilinkovidiv{margin-inline-start: 0% !important;
margin-top: 2rem;
width: 100% !important;}
.dinlineblock{ display: block !important;
margin-left: 0% !important;}
.blinks{ width: 100% !important;}
.kontaktbtn{ margin-left: 37% !important;}
.dinlineblock2{display: block !important;}
.mapouter{margin:0px !important}
.footerdiv{height: auto !important;}
.kontaktandlinksdiv{ width: 100% !important;}
.aclas{ font-size: 60%;}
}



.topnav{
  background-color: #345aaa;
  height: 3rem;
}
.velicinaikona{
  width: auto;
  height: 1.5rem;
}
.aclas{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none !important;
  color: white;
  margin-top:1rem !important;
}
.navbaar{
  background-image: url(https://ipi-akademija.ba/images/meni2.jpg);

}
.navbarfix{
  position: sticky !important;
}
.linav{
margin-left: 1rem !important;
}

.linav:hover{
  background-color: #203667;
  transition: 1s;
}
.bodyimg{
  background-image: url(https://ipi-akademija.ba/cimage/background/image-1.png);
  height: 100vh;
  background-position: center;
  background-repeat: repeat-y;
  background-size:cover;
  width: 100vw;
  display:flex;
  position:relative;
}
.rotatingdiv{
height: 35%;
background-color: #4466ae;
width: 16.5rem;
display:inline-block;
}

.hiddendivv{
  height: 4rem;
}
.selldiv{
  height: 100% ;
  display: block;
  width:100% !important;
  margin: 15% 16% 10% 21.5%;
}

.imgkdiv{
margin-top:2rem;
display: inline-flex;
height: 35rem; 
}

.korisnilinkovi{
  display: inline-block;
  width: 100%;
  height: 3rem;
  background-color:#345aaa;
  font-size: 110%;
  padding-top: 0.5rem;
}
.korisnilinkovidiv{
  z-index: 2;
  display: block;
  margin-inline-start: 5%;
  width: 30%;
  height: 60vh;
  background-color: rgb(255, 255, 255);
}
.alinks{
display: block !important;
text-decoration: underline;
color:#345aaa;
font-size: 120%;
margin-top: 5rem;  
}
.blinks{
width: 20.2rem;
background-color: rgb(255, 255, 255);
height: 40rem;
display: inline-block;
margin-top: 2rem;
padding: 1%;
}
.dinlineblock{
  display: inline-flex;
}
.news2{
  height: 15.6rem !important;
}
.news3{
  height: 18.6;
}
.notextdecoration{
  text-decoration: none !important;
}
.odlucisediv{
  height: 20rem;
  background-image: url(https://ipi-akademija.ba/cimage/background/image-2.png);
  display: flex;
}
.odlucisecont{
  background-color: #324469;
  height: 80%;
  opacity: 0.6;
  margin-top:2rem ;
  padding: 2%;
}
.pkvalitet{
  opacity: 1.0 !important;
  z-index: 3;
  color: white;
}
.kontaktbtn{
height: 2.5rem;  
width: 7rem;
margin-left: 45%;
border-style: solid;
background-color: transparent;
border-color: white;
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2d4b8d;
  color: white;
  transform: rotateY(180deg);
}
.studijipiadiv{
  background-image: url(https://ipi-akademija.ba/images/pocetne/prvaslika.jpg);
  background-position: center;
}
.trogodisnjistudij{
  background-image: url(https://ipi-akademija.ba/images/pocetne/trogodprog.jpg);
  background-position: center;
}
.cetverogodstudij{
  background-image: url(https://ipi-akademija.ba/images/pocetne/cetverogod.jpg);
  background-position: center;
}
.nirad{
  background-position: center;
  background-image: url(https://ipi-akademija.ba/images/pocetne/naucno.jpg);
}
.ptextlarge{
  font-size: 130%;
}
.ulistrazivanja{
  color: rgb(207, 0, 207);
}
.customer-logos {
  background-color: rgb(255, 255, 255);
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.slick-slide img {
  width: 100%;
}

.slick-slider
{
  position: relative;
  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;
  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.text-primary1{
  color: #345ab2;
}
.logos1container{
  overflow: hidden;
}

.footerdiv{
  background-image: url(https://ipi-akademija.ba/images/donjaslika.jpg);
  background-position: center;
  height: 33rem;
  width: 100%;
  background-size: cover;
}
.ptextlarge1{
  font-size: 115%;
}
.kontaktandlinksdiv{
  width: 27rem;}
.dinlineblock2{
  display: flex;
  width: 100%;
}
.dblock{
  display: block !important;
  width: 100%;
}
.mapouter{
  margin: 2rem;
  width: 100% !important;
}
#gmap_canvas{
  width: 100%;
  height: 280px;
}
.navlogo{
  width: auto;
}